<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лаболаторная робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав: студент Кандиба Роман КН-32
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="p_background">Задано три числа. Якщо хоч одне з більше за 5, то знайти куб суми. В іншому випадку – суму .</p>
      <ion-item>
        <ion-label position="floating">N</ion-label>
        <ion-input type="number" id="n" value="3" #Inputn></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Модуль</ion-label>
        <ion-input type="number" id="m" value="2" #Inputm></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="arrayras(Inputn.value)">Розрахунок</ion-button>
      <ion-item>
        <ion-grid>
          <ion-row *ngFor = "let i of a">
            <ion-col *ngFor = "let j of i"> {{ j }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>