 <ion-header> 
  <ion-toolbar>
    <ion-title>
      Лаболаторная робота №3
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав: студент Кандиба Роман КН-32
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <ion-card>
    <ion-card-header>
      <ion-card-title>Лаболаторна робота №3</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Кількість студентів</ion-label>
          <ion-input type="number" id="m" value="21" #Inputm></ion-input>
        </ion-item>
        <ion-text>Читання даних з JSON файлу</ion-text>
        <ion-button expand="block" (click)="load(Inputm.value)">Заватажити</ion-button>
        <ion-item>
          <ion-list>
            <ion-item button *ngFor = "let item of data_users; index as i" detail (click) = "toggleDetails(i)" >
              <ion-label *ngIf="!showDetails[i]" text-wrap>
                <p [ngStyle]="{color: getGreenColor(item.students)}"><span>Ім'я:</span>
                {{ item.name }} <span>Курс:</span> {{ item.course}} </p>

              </ion-label>
              <ion-text *ngIf = "showDetails[i]">
                <ion-text><h2>Ім'я:</h2>{{item.name}}</ion-text>
                <ion-text><h2>Курс:</h2>{{item.course}}</ion-text>
                <ion-text><h2>Староста:</h2>{{item.starosta}}</ion-text>
                <ion-text><h2>Кількість студентів:</h2>{{item.students}}</ion-text>
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-item>

      </ion-card-content>
  </ion-card>
</ion-content>
