<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лаболаторная робота №2
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав: студент Кандиба Роман КН-32
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Xn</ion-label>
        <ion-input type="number" id="xn" value="-3.35" #Inputxn></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Xk</ion-label>
        <ion-input type="number" id="xk" value="5" #Inputxk></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">a</ion-label>
        <ion-input type="number" id="a" value="0.2" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">h</ion-label>
        <ion-input type="number" id="h" value="0.2" #Inputh></ion-input>
      </ion-item>
      <ion-button expand="block" (click) = "graphras (Inputxn.value, Inputxk.value, Inputa.value, Inputh.value)">Розрахунок</ion-button>
      <ion-item>
        <canvas #lineCanvas></canvas>
      </ion-item>
      <ion-item>
        <ion-item *ngFor="let item of data1" >{{item}}</ion-item>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>